hej jag är crafts index

table
  tr
    th title
    th url 
    th
    th
  for craft in crafts
    tr
      td #{craft.title}
      td 
        a(href="#{craft.url}") #{craft.url}
      td
        a(href="/crafts/#{craft.id}") edit
      td
        a(href="/crafts/#{craft.id}") delete 
        

.actions
  a(href="/crafts/new") create new
